@font-face {
    font-family: 'valorant font';
    src: url('../font/ValorantFont.ttf');
}
@font-face{
    font-family: 'ff mark';
    src: url('../font/FontFont_FF.Mark.Pro.otf');
}
body, html {
    height: 100%;
}
.bg{
    /* The image used */
    background-image: url("../img/FondoChambel.png");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bg2{
    /* The image used */
    background-image: url("../img/ValoFondo.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: start center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bg3{
    /* The image used */
    background-image: url("../img/fondosinnada.png");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: start center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bg4{
    /* The image used */
    background-image: url("../img/fondosinnada2.png");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.card1 {  
    background-color: dark;
    text-align: start;
    font-size: 10px;
    border-color: danger;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-wrap: wrap;
}

#carta {
    width: 200px;
    height: 200px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
}

#carta div {
    width: 50px;
    height: 50px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.3s;
}
#titulo{
    font-family: "valorant font";
}
a,h6,h5,h3,h1,h2,label,button,p{
    font-family: "ff mark";
}
div.sticky {
    position: -webkit-sticky;
    position: sticky;
}
iframe{
    border-radius: 5px;
}
.avatar{
    width: 50px;
    height: 50px;
}
.icono{
    width: 30px;
    height: 30px;
}
.fotoCarousel{
    display: block;
    max-width: 100%;
    height: auto;
}
#dropdown-menu-avatar{
    width: 400px;
}
@media only screen and (max-width: 576px) {
    #dropdown-menu-avatar{
        width: 200px;
    }
}
.dropdown-menu.mapa{
    width: 400px;
    height: auto;
}
.Ascent{
    background-image: url(../img/Mapas/ascent.jpeg);
    background-size: cover;
    background-position: center center;
}
.Bind{
    background-image: url(../img/Mapas/bind.jpeg);
    background-size: cover;
    background-position: center center;
}
.Breeze{
    background-image: url(../img/Mapas/breeze.jpeg);
    background-size: cover;
    background-position: center center;
}
.Haven{
    background-image: url(../img/Mapas/haven.jpeg);
    background-size: cover;
    background-position: center center;
}
.Icebox{
    background-image: url(../img/Mapas/icebox.jpeg);
    background-size: cover;
    background-position: center center;
}
.Split{
    background-image: url(../img/Mapas/split.jpeg);
    background-size: cover;
    background-position: center center;
}
.Fracture{
    background-image: url(../img/Mapas/fracture.jpeg);
    background-size: cover;
    background-position: center center;
}
.Pearl{
    background-image: url(../img/Mapas/pearl.png);
    background-size: cover;
    background-position: center center;
}
.campo{
    background-image: url(../img/Mapas/campo.jpeg);
    background-size: cover;
    background-position: center center;
}

#perfil-img {
    width: 200px;
    height: 200px;
    border-radius: 1000px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid RGB(220, 53, 69);
    box-shadow: 0 0 20px #09090933;
}
#perfil-img:hover {
    width: 250px;
    height: 250px;
    border: 8px solid rgb(212, 48, 43);
    box-shadow: 0 0 20px rgb(235, 75, 69);
}

#social{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: RGB(220, 53, 69);
    color: #ffffff;
    font-size: 20px;
    border-radius: 100%;
    text-decoration: none;
    margin: 0 13px 30px 0;
    box-shadow: 0 0 20px #09090933;
}
#social:hover {
    background-color: rgba(240, 49, 43, 0.919);
    height: 50px;
    width: 50px;
    text-decoration: none;
    box-shadow: 0 0 20px rgb(235, 75, 69);
}