{% extends 'LineApp/p_inicio.html' %}
{% load static %}

    {% block titulo %}
    <title>Editar perfil</title>
    {% endblock titulo %}

    {% block content %}
    
    <!--carta-->
    <div class="card bg-dark">
        <div class="card-header">
            <img src="{% static 'LineApp/img/perfil.png' %}" alt="Profile Image" class="profile-img " height="100px" width="100px">
            <div class="col-12 p-2">
            </div>
        </div>
        <div class="card-body">
            <p class="mail">Editar perfil</p>
            <!--usuario-->
            <div class="row">
                <div class="col-12">
                    <form action="" name="edi" id="edi" method="post">
                        <div class="form-floating">
                        <input type="text" class="form-control bg-dark text-white" name="usuario" id="edi-usu" placeholder="Usuario" value="usuario123" >
                        <label for="floatingInput" class="text-white">Usuario</label>
                        <p class="d-none text-white" id="msj-usu">El usuario tiene que ser de 5 a 20 dígitos y solo puede contener numeros, letras, guion y guion bajo.</p>
                        </div>
                        <br>
                    <!--contrasena-->
                    <div class="form-floating">
                        <input type="password" class="form-control bg-dark text-white" name="pass" id="edi-pass" placeholder="contraseña" value="Usuario123." >
                        <label for="floatingPassword" class="text-white">contraseña</label>
                        <p class="d-none text-white" id="msj-pass">La contraseña tiene que ser de 5 a 20 dígitos, la primera letra debe ser mayuscula y debe terminar en punto</p>
                    </div>
                    <br>
                    <!--confirmar contrasena-->
                    <div class="form-floating">
                        <input type="password" class="form-control bg-dark text-white" name="pass2" id="edi-pass2" placeholder="confirme su contraseña"  value="Usuario123.">
                        <label for="floatingPassword" class="text-white">confirme su contraseña</label>
                        <p class="d-none text-white" id="msj-pass2">Ambas contraseñas tienen que coincidir</p>
                    </div>
                    <br>
                    <!--correo-->
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control bg-dark text-white" name="email" id="edi-email" placeholder="nombre@ejemplo.com"  value="usuario123@gmail.com">
                        <label for="floatingInput" class="text-white">Correo electronico</label>
                        <p class="d-none text-white" id="msj-email">El correo solo puede contener letras, numeros, puntos, guiones y guion bajo.</p>
                    </div>
                    <br>
                    <!--confirmar correo-->
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control bg-dark text-white" name="email2" id="edi-email2" placeholder="nombre@ejemplo.com" value="usuario123@gmail.com">
                        <label for="floatingInput" class="text-white">Confirme su correo electronico</label>
                        <p class="d-none text-white" id="msj-email2">Ambos correos tienen que coincidir.</p>
                    </div>
                    <div class="alert alert-success alert-dismissible d-none" id="edi-enviado">
                        <button type="button" class="btn-close" id="btn-enviado"></button>
                        <strong>Formulario enviado,</strong> todos los campos fueron completados exitosamente.
                    </div>
                    <div class="alert alert-danger alert-dismissible d-none" id="edi-error">
                        <button type="button" class="btn-close" id="btn-error"></button>
                        <strong>Error:</strong> Complete los campos para registrarse.
                    </div>
                    <button type="submit" class="btn btn-danger">Guardar</button>
                    </form>
                </div>

            </div>

        </div>
    </div>
    {% endblock content %}

    {% block script %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="{% static 'LineApp/js/Validacion-edi.js' %}"></script>
    {% endblock script %}
        