{% extends 'LineApp/p_inicio.html' %}
{% load static %}

    {% block titulo %}
    <title>Editar perfil</title>
    {% endblock titulo %}

    {% block content %}
    
    <!--carta-->
    <div class="card bg-dark">
        <div class="card-header">
            <img src="{% static 'LineApp/img/perfil.png' %}" alt="Profile Image" class="profile-img " height="100px" width="100px">
            <div class="col-12 p-2">
            </div>
        </div>
        <div class="card-body">
            <p class="mail">Editar perfil</p>
            <!--usuario-->
            <div class="row">
                <div class="col-12">
                    <form action="{% url 'act_perfil' %}" method="post" class="text-white">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <button class="btn btn-danger">Cambiar</button>
                    </form>
                </div>

            </div>

        </div>
    </div>
    {% endblock content %}

    {% block script %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="{% static 'LineApp/js/Validacion-edi.js' %}"></script>
    {% endblock script %}
        