{% extends 'LineApp/p_inicio.html' %}
{% load static %}

    {% block titulo %}
    <title>Clasificación</title>
    {% endblock titulo %}

    {% block content %}
    <!-- Perfil 1 -->
    <div class="card border-danger bg-dark text-white">
        <div class="row mt-3">
            <div class="col-2 col-md-1"><h4 style="text-align: center;"> 1 </h4></div>
            <div class="col-1 col-md-1 d-flex justify-content-center"><a><img src="{% static 'LineApp/img/Ranking/Avatar1.jpg' %}" alt="" class="icono"></a></div>
            <div class="col-4 col-md-5"><h4>SebasXZ</h4></div>
            <div class="col-5 col-md-5 d-grid gap-2 d-md-flex justify-content-md-end"><a class="btn btn-danger margin" href="{% url 'perfil' %}" role="button">Ver Perfil</a></div>
        </div>
    </div>

    <!-- Perfil 2 -->

    <div class="card border-danger bg-dark text-white mt-2 ">
        <div class="row mt-3">
            <div class="col-2 col-md-1"><h4 style="text-align: center;"> 2 </h4></div>
            <div class="col-1 col-md-1 d-flex justify-content-center"><a><img src="{% static 'LineApp/img/Ranking/Avatar2.jpg' %}" alt="" class="icono"></a></div>
            <div class="col-4 col-md-5"><h4>Mateo_EA</h4> </div>
            <div class="col-5 col-md-5 d-grid gap-2 d-md-flex justify-content-md-end"><a class="btn btn-danger margin" href="{% url 'perfil' %}" role="button">Ver Perfil</a></div>
        </div>
    </div>

    <!-- Perfil 3 -->

    <div class="card border-danger bg-dark text-white mt-2 ">
        <div class="row mt-3">
            <div class="col-2 col-md-1"><h4 style="text-align: center;"> 3 </h4></div>
            <div class="col-1 col-md-1 d-flex justify-content-center"><a><img src="{% static 'LineApp/img/Ranking/Avatar3.jpg' %}" alt="" class="icono"></a></div>
            <div class="col-4 col-md-5"><h4>JuanLT</h4> </div>
            <div class="col-5 col-md-5 d-grid gap-2 d-md-flex justify-content-md-end"><a class="btn btn-danger margin" href="{% url 'perfil' %}" role="button">Ver Perfil</a></div>
        </div>
    </div>
    
    <!-- Perfil 4 -->

    <div class="card border-danger bg-dark text-white mt-2 ">
        <div class="row mt-3">
            <div class="col-2 col-md-1"><h4 style="text-align: center;"> 4 </h4></div>
            <div class="col-1 col-md-1 d-flex justify-content-center"><a><img src="{% static 'LineApp/img/Ranking/Avatar10.jpg' %}" alt="" class="icono"></a></div>
            <div class="col-4 col-md-5"><h4>-.Carla.-</h4> </div>
            <div class="col-5 col-md-5 d-grid gap-2 d-md-flex justify-content-md-end"><a class="btn btn-danger margin" href="{% url 'perfil' %}" role="button">Ver Perfil</a></div>
        </div>
    </div>

    <!-- Perfil 5 -->

    <div class="card border-danger bg-dark text-white mt-2 ">
        <div class="row mt-3">
            <div class="col-2 col-md-1"><h4 style="text-align: center;"> 5 </h4></div>
            <div class="col-1 col-md-1 d-flex justify-content-center"><a><img src="{% static 'LineApp/img/Ranking/Avatar4.jpg' %}" alt="" class="icono"></a></div>
            <div class="col-4 col-md-5"><h4>Chorocras</h4> </div>
            <div class="col-5 col-md-5 d-grid gap-2 d-md-flex justify-content-md-end"><a class="btn btn-danger margin" href="{% url 'perfil' %}" role="button">Ver Perfil</a></div>
        </div>
    </div>

    <!-- Perfil 6 -->

    <div class="card border-danger bg-dark text-white mt-2 ">
        <div class="row mt-3">
            <div class="col-2 col-md-1"><h4 style="text-align: center;"> 6 </h4></div>
            <div class="col-1 col-md-1 d-flex justify-content-center"><a><img src="{% static 'LineApp/img/Ranking/Avatar5.jpg' %}" alt="" class="icono"></a></div>
            <div class="col-4 col-md-5"><h4>Lucky15s</h4> </div>
            <div class="col-5 col-md-5 d-grid gap-2 d-md-flex justify-content-md-end"><a class="btn btn-danger margin" href="{% url 'perfil' %}" role="button">Ver Perfil</a></div>
        </div>
    </div>

    <!-- Perfil 7 -->

    <div class="card border-danger bg-dark text-white mt-2 ">
        <div class="row mt-3">
            <div class="col-2 col-md-1"><h4 style="text-align: center;"> 7 </h4></div>
            <div class="col-1 col-md-1 d-flex justify-content-center"><a><img src="{% static 'LineApp/img/Ranking/Avatar6.jpg' %}" alt="" class="icono"></a></div>
            <div class="col-4 col-md-5"><h4>Maxfull</h4> </div>
            <div class="col-5 col-md-5 d-grid gap-2 d-md-flex justify-content-md-end"><a class="btn btn-danger margin" href="{% url 'perfil' %}" role="button">Ver Perfil</a></div>
        </div>
    </div>

    <!-- Perfil 8 -->

    <div class="card border-danger bg-dark text-white mt-2 ">
        <div class="row mt-3">
            <div class="col-2 col-md-1"><h4 style="text-align: center;"> 8 </h4></div>
            <div class="col-1 col-md-1 d-flex justify-content-center"><a><img src="{% static 'LineApp/img/Ranking/Avatar7.jpg' %}" alt="" class="icono"></a></div>
            <div class="col-4 col-md-5"><h4>!Wilson.-.</h4> </div>
            <div class="col-5 col-md-5 d-grid gap-2 d-md-flex justify-content-md-end"><a class="btn btn-danger margin" href="{% url 'perfil' %}" role="button">Ver Perfil</a></div>
        </div>
    </div>

    <!-- Perfil 9 -->

    <div class="card border-danger bg-dark text-white mt-2 ">
        <div class="row mt-3">
            <div class="col-2 col-md-1"><h4 style="text-align: center;"> 9 </h4></div>
            <div class="col-1 col-md-1 d-flex justify-content-center"><a><img src="{% static 'LineApp/img/Ranking/Avatar8.jpg' %}" alt="" class="icono"></a></div>
            <div class="col-4 col-md-5"><h4>!NewZak</h4> </div>
            <div class="col-5 col-md-5 d-grid gap-2 d-md-flex justify-content-md-end"><a class="btn btn-danger margin" href="{% url 'perfil' %}" role="button">Ver Perfil</a></div>
        </div>
    </div>

    <!-- Perfil 10 -->

    <div class="card border-danger bg-dark text-white mt-2">
        <div class="row mt-3">
            <div class="col-2 col-md-1"><h4 style="text-align: center;"> 10 </h4></div>
            <div class="col-1 col-md-1 d-flex justify-content-center"><a><img src="{% static 'LineApp/img/Ranking/Avatar9.jpg' %}" alt="" class="icono"></a></div>
            <div class="col-4 col-md-5"><h4>Marco_FR</h4> </div>
            <div class="col-5 col-md-5 d-grid gap-2 d-md-flex justify-content-md-end"><a class="btn btn-danger margin" href="{% url 'perfil' %}" role="button">Ver Perfil</a></div>
        </div>
    </div>
    {% endblock content %}

    {% block script %}
    {% endblock script %}