{% extends 'LineApp/p_inicio.html' %}
{% load static %}

    {% block titulo %}
    <title>Registro</title>
    {% endblock titulo %}

    {% block content %}
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6" style="margin-top: 15%;">
            <div class="card bg-dark">
                <div class="card-body">
                    <p class="text-white">Registrar usuario</p>
                    <form action="{% url 'registro' %}" name="reg" id="reg" method="POST" class="text-white">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="checkbox" value="" id="terminos">
                            <label class="form-check-label text-white" for="terminos">
                                Acepto los terminos y condiciones.
                            </label>
                        </div>
                        <p class="d-none text-white" id="msj-usu">El usuario tiene que ser de 5 a 20 dígitos y solo puede contener numeros, letras, guion y guion bajo.</p>
                        <p class="d-none text-white" id="msj-pass">La contraseña tiene que ser de 5 a 20 dígitos, la primera letra debe ser mayuscula y debe terminar en punto</p>
                        <p class="d-none text-white" id="msj-pass2">Ambas contraseñas tienen que coincidir</p>
                        <p class="d-none text-white" id="msj-email">El correo solo puede contener letras, numeros, puntos, guiones y guion bajo.</p>
                        <button style="margin-top: 5%; margin-bottom: 5%;" type="submit" class="btn btn-danger ">Registrarse</button>
                    </form>
                    </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    {% endblock content %}

    {% block script %}
    <script src="{% static 'LineApp/js/Validacion-reg.js' %}"></script>
    {% endblock script %}